pandas==2.2.3
seiz-eeg==0.4.3
torch==2.5.1
tqdm==4.67.1
mlflow==2.22.0
matplotlib==3.10.0
numpy==1.26.4
scipy==1.15.2
pyyaml==6.0.2
torcheval==0.0.7
torch-geometric==2.6.1
holoviews==1.20.2
torchinfo==1.8.0